@import './navbar.scss';
@import './home.scss';

$border-color: #afafad;

body {
  background-color: #f7f7f0;
  margin: 0;
}

.is-center {
  text-align: center;
}

.border-btm {
  border-bottom: 1px solid $border-color;
}

.content {
  padding: 0 6em;
}